## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.rsuser
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/*
!**/packages/build/

## Rider
.idea/
*.sln.iml

## OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## User settings
%APPDATA%/NetSpectre/
